[Unit]
Description=hadoop yarn service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=oneshot
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HADOOP_HOME=/usr/local/hadoop
ExecStart=/usr/local/hadoop/sbin/start-yarn.sh
ExecStop=/usr/local/hadoop/sbin/stop-yarn.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
