[Unit]
Description=hadoop yarn nodemanager service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=forking
ExecStart=/usr/local/hadoop/sbin/yarn-daemon.sh --config {{hadoop_conf_dir}} start nodemanager
ExecStop=/usr/local/hadoop/sbin/yarn-daemon.sh --config {{hadoop_conf_dir}} stop nodemanager

[Install]
WantedBy=multi-user.target
