[Unit]
Description=hadoop jobhistory service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=simple
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ExecStart=/usr/local/hadoop/sbin/mr-jobhistory-daemon.sh start historyserver
ExecStop=/usr/local/hadoop/sbin/mr-jobhistory-daemon.sh stop historyserver
PIDFile=/var/run/hadoop/hadoop-jobhistory.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
