[Unit]
Description=hadoop dfs service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=simple
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ExecStart=/usr/local/hadoop/sbin/start-dfs.sh
ExecStop=/usr/local/hadoop/sbin/stop-dfs.sh
PIDFile=/var/run/hadoop/hadoop-dfs.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
