[Unit]
Description=hadoop yarn service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=forking
Environment=JAVA_HOME={{java_home}}
Environment=HADOOP_HOME={{hadoop_home}}
ExecStart=/usr/local/hadoop/sbin/start-yarn.sh
ExecStop=/usr/local/hadoop/sbin/stop-yarn.sh
PIDFile=/var/run/hadoop/hadoop-yarn.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
