[Unit]
Description=hadoop jobhistory service
After=network.target

[Service]
User={{hadoop_user}}
Group={{hadoop_user}}
Type=oneshot
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ExecStart=/usr/local/hadoop/sbin/mr-jobhistory-daemon.sh start historyserver
ExecStop=/usr/local/hadoop/sbin/mr-jobhistory-daemon.sh stop historyserver
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
